extends layout 

block content 
    main
        h1 About Us 
        section.card
            h2 Our Story 
            p Downtown Donuts is a small, family-owned donut and coffee shop that’s been serving the downtown community since 1992.
            p Our mission is to provide high quality coffee and donuts and a welcoming space where people can relax. 