extends layout 

block content 
    h1 Comments 

    form(method="POST" action='/create')
        label(for="task") Comment:
        input(type="text" name="task" id="tast" required maxlength="255")
        button(type="submit") Submit

    hr

    each val in comments 
        .comment
            p= val.task 
            small= val.formattedDate 

    a.button(href="/comments?offset=" + nextOffset) Load More