extends layout 

block content 
    h1 Comments 

    form(method="POST" action='/create')
        input(type="text" name="task" required)
        button(type="submit") Submit

    hr

    each val in comments 
        .comment
            p= val.task 
            small= val.formattedDate 