extends layout 

block content 

    main

        if error 
            p Something went wrong. Please try again.

        h1 Comments 

        form(method="POST" action="/create" onsubmit="if (this.submitted) return false; this.submitted = true; this.querySelector('button').disabled = true;")
            label(for="task") Comment: 
            input(type="text" name="task" id="task" required maxlength="255")
            button(type="submit") Submit

        hr

        each val in comments 
            .comment
                p= val.task 
                small= val.formattedDate 

        a.button(href="/comments?offset=" + nextOffset) Load More