doctype html
html
  head
    title Downtown Donuts
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css2?family=Italianno&family=Montserrat:wght@300;400;600&display=swap", rel="stylesheet")
  
  body
    nav 
      a(href="/") Home 
      a(href="/menu") Menu 
      a(href="/about") About 
      a(href="/comments") Comments

    img(src="/images/downtown_donuts.png" alt="Downtown Donuts logo" class="logo")

    block content
