extends layout 

block content
    main 

        h1 Menu

        section.card
            h2 Donuts 
            p Original Glazed Donut - $3.00
            p Maple Bar - $4.00
            p Strawberry Glazed Donut - $3.50
        
        section.card
            h2 Coffee 
            p Black Coffee - $3.00
            p Latte - $3.50
            p Mocha - $4.50
        
        section.card
            h2 Order Online 
            a.button(href="https://www.doordash.com") Order on DoorDash
            br
            a.button(href="https://www.ubereats.com") Order on UberEats