extends layout 

block content
    h1 Menu
    p Donuts and coffee options

    h2 Order Online 
    (href="https://www.doordash.com") Order on DoorDash
    br
    a.button(href="https://www.ubereats.com") Order on UberEats